In [1]:
import pandas as pd
import os

In [2]:
directory = './intent/'
dataframes = []

for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        filepath = os.path.join(directory, filename)
        df = pd.read_csv(filepath)
        dataframes.append(df)

combined_df = pd.concat(dataframes, ignore_index=True)

combined_df.head()

,Date,From,To,Subject,Body,Time,Intent and Data,Unnamed: 7
0,2000-12-04,"[""'dan.hyvl@enron.com'""]","[""'mcesario@ormet.com'""]",Re: Transaction Agreement,exhibit c and exhibit d mike cesario mcesarioo...,06:14:00,No,NaN
1,2000-12-08,"[""'james.steffes@enron.com'""]","[""'kevin.presto@enron.com'""]",RTO Status 12.8.00,kevin attached is the east power rto status ma...,09:36:00,No,NaN
2,2000-11-27,"[""'susan.scott@enron.com'""]","[""'mary.miller@enron.com'""]",Cal. GIR,for your information the outcome was great for...,01:29:00,No,NaN
3,2000-09-20,"[""'shirley.crenshaw@enron.com'""]","[""'zimin.lu@enron.com'"", "" 'vasant.shanbhogue@...",Re: Informal Interview with the Enron Research...,fyi i have arranged the following interview sc...,08:47:00,"Yes\n[\n {\n ""sender"": ""shirley.cren...",NaN
4,2001-10-23,"[""'d..steffes@enron.com'""]","[""'jean.ryall@enron.com'""]",RE:,thanks if you need any additional support pls ...,08:41:42,No,NaN

In [3]:
combined_df.shape

(12500, 8)

In [4]:
combined_df['Unnamed: 7'].isna().sum()

12499

In [5]:
combined_df['Unnamed: 7']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
12495    NaN
12496    NaN
12497    NaN
12498    NaN
12499    NaN
Name: Unnamed: 7, Length: 12500, dtype: object

In [6]:
combined_df = combined_df.drop('Unnamed: 7', axis='columns')
combined_df = combined_df.drop_duplicates()

In [7]:
combined_df

,Date,From,To,Subject,Body,Time,Intent and Data
0,2000-12-04,"[""'dan.hyvl@enron.com'""]","[""'mcesario@ormet.com'""]",Re: Transaction Agreement,exhibit c and exhibit d mike cesario mcesarioo...,06:14:00,No
1,2000-12-08,"[""'james.steffes@enron.com'""]","[""'kevin.presto@enron.com'""]",RTO Status 12.8.00,kevin attached is the east power rto status ma...,09:36:00,No
2,2000-11-27,"[""'susan.scott@enron.com'""]","[""'mary.miller@enron.com'""]",Cal. GIR,for your information the outcome was great for...,01:29:00,No
3,2000-09-20,"[""'shirley.crenshaw@enron.com'""]","[""'zimin.lu@enron.com'"", "" 'vasant.shanbhogue@...",Re: Informal Interview with the Enron Research...,fyi i have arranged the following interview sc...,08:47:00,"Yes\n[\n {\n ""sender"": ""shirley.cren..."
4,2001-10-23,"[""'d..steffes@enron.com'""]","[""'jean.ryall@enron.com'""]",RE:,thanks if you need any additional support pls ...,08:41:42,No
...,...,...,...,...,...,...,...
12494,2000-12-13,"[""'robin.rodrigue@enron.com'""]","[""'gabriel.monroy@enron.com'""]",Re: I'm Safe Now,im low on clean clothesi need to think if i ha...,10:10:00,"Yes\n[\n'sender': 'robin.rodrigue@enron.com',\..."
12495,2000-10-25,"[""'hunter.shively@enron.com'""]","[""'john.lavorato@enron.com'""]",PIRA,forwarded by hunter s shivelyhouect on one zer...,07:16:00,Yes\n[\n {\n 'sender': 'hunter.shive...
12497,2001-06-27,"[""'outlook.team@enron.com'""]",NaN,Martha/Donna Dashboard,calendar entry appointment description marthad...,16:02:00,No
12498,2000-10-13,"[""'gareth.bahlmann@enron.com'""]","[""'kay.mann@enron.com'"", "" 'travis.mccullough@...",Term sheets for Manlove,attached are the draft termsheets substantiall...,06:53:00,No
12499,2000-11-17,"[""'slava.brin@chase.com'""]","[""'sbhargava@baincap.com'"", "" 'jwoolbert@bainc...",Conference Call on Monday,please note the conference call information fo...,06:36:00,"Yes\n[\n {\n ""sender"": ""slava.brin@c..."